/*Contact Info Styles*/

.formSection {
    display: flex;
}

#contactInfoCaption {
    display: block;
    margin-top: 40px;
    margin-left: 40px;
}

.form {
    margin-left: 40px;
    margin-top: 40px;
}

.coffeeImageSection {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}