/*Footer Styles*/

.footerSection {
    display: flex;
    background-color: cadetblue;
    position: auto;
    text-align: center;
    align-content: center;
    margin-top: -50px;
}

#footerCaption {
    display: flex;
    position: relative;
    left: 550px;
    top: 25px;
    text-align: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: antiquewhite;
}

#myGit {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    display: flex;
    padding: 5px;
    margin: 5px;
}

#gitCat {
    max-width: 50%;
    height:min-content;

}


#myLinked {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    display: flex;
    padding: 5px;
    margin: 5px;
}