/*Header Styles*/
html {
    background-color: cornflowerblue;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(54, 105, 2);
    padding: 55px;
    margin: 5px;
    background-color: rgb(100, 198, 237);
    border: solid;
    border-radius: 5px;
}

#siteTitle {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

#siteCaption {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;

}